In [1]:
# Import libraries
import os
import sys

import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
import statistics
import datetime as dt

In [2]:
# Check virtual environment: should be: '/Users/James/anaconda3/envs/mimic/bin/python'
sys.executable

'/Users/James/anaconda3/envs/mimic/bin/python'

In [3]:
# Set up paths
project_root = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
src_folder = os.path.join(project_root, 'src')
src_preparation_folder = os.path.join(src_folder, 'preparation')

In [4]:
# Import src functions
sys.path.insert(0, src_preparation_folder)
from import_data import get_table
from extract_codes import find_ndc_codes

/Users/James/anaconda3/envs/mimic/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

## Find all admissions that contained a Heart Failure diagnosis

In [5]:
# Relevant ICD9 Codes (Heart Failure):
icd9_code_list = "('4280')"
print(icd9_code_list)

('4280')

In [6]:
# Get Heart Disease diagnoses
heart_failure_sdmissions = get_table(host = 'localhost',
                                  dbname = 'mimic',
                                  schema = 'mimiciii',
                                  table = 'diagnoses_icd',
                                  columns = 'subject_id, hadm_id',
                                  where = "icd9_code IN {}".format(icd9_code_list))
heart_failure_sdmissions.head()

Query executed
DF shape is: (13111, 2)

   subject_id  hadm_id
0         115   114585
1         117   140784
2         124   138376
3         130   198214
4          68   108329

In [7]:
# Admissions list
admissions = tuple(set(heart_failure_sdmissions['hadm_id'].unique().tolist()))
print('Heart Failure admissions: ' + str(len(admissions)))

# Subjects list list
subjects = tuple(set(heart_failure_sdmissions['subject_id'].unique().tolist()))
print('Heart Failure subjects: ' + str(len(subjects)))

Heart Failure admissions: 13111
Heart Failure subjects: 9843

## Search for all prescriptions for Beta Blockers, ACE inhibitors and ARB

In [8]:
#Beta Blockers
beta = get_table(host = 'localhost',
                dbname = 'mimic',
                schema = 'mimiciii',
                table = 'prescriptions',
                columns = 'drug, ndc, hadm_id',
                where = "LOWER(drug) LIKE '%betaxolol%'\
                        OR LOWER(drug) LIKE '%acebutolol%'\
                        OR LOWER(drug) LIKE '%atenolol%'\
                        OR LOWER(drug) LIKE '%metoprolol%'\
                        OR LOWER(drug) LIKE '%bisoprolol%'\
                        OR LOWER(drug) LIKE '%nebivolol%'\
                        OR LOWER(drug) LIKE '%esmolol%'\
                        OR LOWER(drug) LIKE '%propranolol%'\
                        OR LOWER(drug) LIKE '%nadolol%'\
                        OR LOWER(drug) LIKE '%carvedilol%'\
                        OR LOWER(drug) LIKE '%labetalol%'\
                        OR LOWER(drug) LIKE '%sotalol%'\
                        OR LOWER(drug) LIKE '%timolol%'\
                        OR LOWER(drug) LIKE '%penbutolol%'\
                        OR LOWER(drug) LIKE '%pindolol%'")

Query executed
DF shape is: (66151, 3)

In [9]:
#ACE inhibitors
ace = get_table(host = 'localhost',
                dbname = 'mimic',
                schema = 'mimiciii',
                table = 'prescriptions',
                columns = 'drug, ndc, hadm_id',
                where = "LOWER(drug) LIKE '%fosinopril%'\
                        OR LOWER(drug) LIKE '%captopril%'\
                        OR LOWER(drug) LIKE '%moexipril%'\
                        OR LOWER(drug) LIKE '%ramipril%'\
                        OR LOWER(drug) LIKE '%lisinopril%'\
                        OR LOWER(drug) LIKE '%quinapril%'\
                        OR LOWER(drug) LIKE '%trandolapril%'\
                        OR LOWER(drug) LIKE '%enalapril%'\
                        OR LOWER(drug) LIKE '%benazepril%'\
                        OR LOWER(drug) LIKE '%perindopril%'")

Query executed
DF shape is: (19698, 3)

In [10]:
#ARB
arb = get_table(host = 'localhost',
                dbname = 'mimic',
                schema = 'mimiciii',
                table = 'prescriptions',
                columns = 'drug, ndc, hadm_id',
                where = "LOWER(drug) LIKE '%eprosartan%'\
                        OR LOWER(drug) LIKE '%olmesartan%'\
                        OR LOWER(drug) LIKE '%valsartan%'\
                        OR LOWER(drug) LIKE '%losartan%'\
                        OR LOWER(drug) LIKE '%telmisartan%'\
                        OR LOWER(drug) LIKE '%candesartan%'\
                        OR LOWER(drug) LIKE '%azilsartan medoxomil%'\
                        OR LOWER(drug) LIKE '%irbesartan%'\
                        OR LOWER(drug) LIKE '%valsartan%'")

Query executed
DF shape is: (3100, 3)

## Extract the NDC codes from these lists

In [11]:
beta_codes = find_ndc_codes(beta, 'Beta Blockers')
ace_codes = find_ndc_codes(ace, 'ACE Inhibitors')
arb_codes = find_ndc_codes(arb, 'ARB')

==========
  Beta Blockers
==========
66107 out of 66151 prescriptions have NDC codes
94 unique NDC codes
----------
['Labetalol HCl' 'Metoprolol' 'Atenolol' 'Metoprolol XL' 'Esmolol'
 'Metoprolol Tartrate' 'Dorzolamide 2%/Timolol 0.5% Ophth.' 'Carvedilol'
 'Timolol Maleate 0.25%' 'Timolol Maleate 0.5%' 'Nadolol'
 'Metoprolol Succinate XL' 'Labetalol' 'Propranolol' 'Propranolol HCl'
 'Sotalol HCl' 'Metoprolol XL (Toprol XL)' 'METOPROLOL' 'Sotalol'
 'Betaxolol Hcl  0.25%' 'Bisoprolol Fumarate' 'Acebutolol HCl'
 'Propranolol LA' 'ESMOLOL' 'LABETALOL' 'Betimol (timolol hemihydrate)'
 'Betaxolol Ophth Susp  0.25%' 'Betimol ( Timolol )'
 'Betaxolol HCl  0.25%' 'Betaxolol HCl' 'Atenolol-Chlorthalidone'
 'Pindolol' 'NEO*PO*Propranolol' 'Betaxolol'
 '*NF* TIMOLOL  HEMIHYDRATE (BETIMOL)' 'timolol'
 'Esmolol in Saline (Iso-osm)' 'Propranolol Oral Solution' 'Timolol'
 'Timolol Maleate 0.5% XE' 'Metoprolol ' 'Timolol Maleate 0.5% GFS'
 'Acebutolol' 'bisoprolol fumarate' 'sotalol' 'Sotalol AF'
 'dorzolamide-timolol' 'bisoprolol']
----------
==========
  ACE Inhibitors
==========
19694 out of 19698 prescriptions have NDC codes
58 unique NDC codes
----------
['Moexipril HCl' 'Captopril' 'Lisinopril' 'Enalaprilat'
 'Enalapril Maleate' 'Trandolapril' 'Ramipril' 'Quinapril'
 'NEO*PO*Captopril' 'Benazepril' 'Fosinopril' 'Moexipril'
 'Fosinopril Sodium' 'Benazepril HCl' 'benazepril' 'amlodipine-benazepril'
 'benazepril-hydrochlorothiazide']
----------
==========
  ARB
==========
3094 out of 3100 prescriptions have NDC codes
17 unique NDC codes
----------
['Valsartan' 'Losartan Potassium' 'Irbesartan' 'Losartan'
 '*NF* Irbesartan' 'olmesartan/hydrochlorothiazide' 'Candesartan'
 '*NF* Valsartan' 'Candesartan Cilexetil' 'tabletsCandesartan Cilexetil'
 'Hyzaar(Losartan/HCTZ)' 'Olmesartan' 'olmesartan' 'candesartan'
 'irbesartan']
----------

## Manuel step needed to remove inappropriate prescriptions from lists

In [12]:
# .......

## Get all prescriptions for the Heart Failure admissions

In [13]:
prescriptions = get_table(host = 'localhost',
                          dbname = 'mimic',
                          schema = 'mimiciii',
                          table = 'prescriptions',
                          columns = 'hadm_id, ndc',
                          where = "hadm_id IN {}".format(admissions))
prescriptions.head()

Query executed
DF shape is: (571105, 2)

   hadm_id          ndc
0   100018            0
1   100018  00338519741
3   100018  51079088120
4   100018  50458022115
5   100018  00517420125

In [14]:
# -- Add ACE/ARB & Beta flags

#ACE & ARB
prescriptions['ace_arb'] = np.where(prescriptions['ndc'].isin(ace_codes + arb_codes), 1, 0)

#BETA
prescriptions['beta'] = np.where(prescriptions['ndc'].isin(beta_codes), 1, 0)

#Summarise
prescriptions = prescriptions.groupby('hadm_id').agg({'ace_arb': ['max'], 'beta': ['max']})

#Reset index and rename columns
prescriptions.reset_index(inplace=True)
prescriptions.columns = prescriptions.columns.get_level_values(0)

print(prescriptions.groupby(['ace_arb', 'beta']).count())

              hadm_id
ace_arb beta
0       0        1357
        1        3829
1       0         404
        1        6509